[submodule "core"]
	path = core
	url = https://github.com/wld-16/e-voting-core
[submodule "simulation"]
	path = simulation
	url = https://github.com/wld-16/e-voting-simulation
[submodule "visualisation"]
	path = visualisation
	url = https://github.com/wld-16/e-voting-visualisation
[submodule "did"]
	path = did
	url = git@github.com:wld-16/did-pvote.git
